.mid {
    margin: 120px 250px;
}

.tieude {
    font-size: 30px;
    margin-bottom: 10px 0;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* căn 3 cột bằng nhau*/
    justify-content: space-between;
    margin: 20px 0;
}

.inf0 {
    display: flex;
    flex-direction: column;
}

.info img {
    width: 250px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 2px;
}

.price {
    color: rgba(0, 0, 0, 0.5);
}