* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    font-family: 'SF Pro Text', sans-serif;
}

a {
    color: #00000099;
    text-decoration: none;
    /* bỏ gạch chân */
}


/*  */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    z-index: 1;
}

.title a {
    color: #00000099;
    text-decoration: none;
    /* bỏ gạch chân */
}

.map,
.contact {
    color: #000;
    padding: 0 39.05px;
    text-align: center;
}

.trang_chu {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    position: fixed;
    height: 85px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

.trang_chu .tieu_de {
    width: 100%;
    float: left;
    display: flex;
}

.trang_chu .tieu_de .nav {
    justify-content: center;
    display: flex;
    padding: 0px 10px;
    margin: 0 88px;
    color: #191919;
    list-style: none;
}

.tieu_de .logo {
    margin-right: 40px;
    width: 100%;
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 35px;
    line-height: 60px;
    font-weight: 650;
    font-family: sans-serif;
}

.tieu_de .nav li {
    padding: 0px 10px;
    justify-content: center;
    list-style: none;
    font-size: 16px;
    /* line-height: 55px; */
    font-weight: 650;
    font-family: sans-serif;
}

.tieu_de .nav li a {
    color: #000;
    text-decoration: none;
    line-height: 46px;
    display: block;
}

.trang_chu .xac_thuc {
    display: flex;
    padding: 5px;
    margin-right: 120px;
}

.trang_chu .xac_thuc:hover .icon {
    cursor: pointer;
}

/* .trang_chu .icon {
    position: relative;
    display: inline-block;
    padding: 10px;
  
    cursor: pointer;
}

.trang_chu .icon:hover .sub_icon {
    cursor: pointer;
    display: block;
} */

.trang_chu .icon {
    position: relative;
    display: inline-block;
    padding: 30px;
    margin-top: -30px;
    /* Tăng vùng tương tác */
    cursor: pointer;
}

.trang_chu .icon:hover .sub_icon {
    display: block;
    /* Hiển thị menu con khi hover */
}

.icon .sub_icon {
    display: inline-block;
    width: 100%;
}

.icon li {
    margin-left: -9px;
}

.icon li,
.icon li a {
    display: inline-block;
    width: 100%;
}

.icon li:hover a {
    background-color: #ccc;
}

.trang_chu .xac_thuc .sub_icon {
    display: none;
    padding: 0 12px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trang_chu .xac_thuc .sub_icon a {
    text-decoration: none;
    line-height: 46px;
    color: #000;
}

.trang_chu .xac_thuc .sub_icon li {
    list-style: none;
    justify-content: center;
    width: 100px;
    height: 50px;
}

/* tim_kiem */
.tim_kiem {
    margin: 0 88px;
    display: flex;
}

.tim_kiem .left {
    width: 50%;
}

.tim_kiem .right {
    width: 50%;
}

.tim_kiem .right .gioi_thieu {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
    margin-bottom: 16px;
}

.tim_kiem .right .btn {
    border: none;
    background: #778B37;
    color: #ffffff;
    height: 40px;
    width: 500px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 0 15px;
}

.tim_kiem .btn:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* Cửa Hàng */
.cua_hang {
    display: flex;
    margin-top: 40px;
}

.cua_hang .left-cua_hang {
    width: 50%;
    padding: 125px 20px 0px;
}


.cua_hang .left-cua_hang h3 {
    font-size: 30px;
    color: #000000D9;
    font-weight: 600;
    max-width: 75%;
    margin: 20px 0px 20px 120px;
}


.cua_hang .left-cua_hang p {
    font-size: 20px;
    margin: 20px 0px 20px 120px;
    line-height: 24px;
    max-width: 75%;
    overflow: hidden;
}


.cua_hang .left-cua_hang button {
    background: #C8070F;
    width: 400px;
    color: #ffffff;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 120px;
}


.cua_hang .left-cua_hang button:hover {
    cursor: pointer;
    opacity: 0.5;
}


.cua_hang .right-cua_hang {
    width: 60%;
}


.cua_hang .right-cua_hang img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Tin Tức */

.tin_tuc {
    background: #FFF7E6;
    padding-bottom: 140px;
    width: 100%;
}

.tin_tuc .noi_dung {
    margin: 0px 88px;
    /* padding: 16px 0px; */
}

.tin_tuc .blog {
    display: flex;
    margin-left: 77px;
}

.tin_tuc .noi_dung h2 {
    text-align: center;
    margin: 40px 0px 0px;
    padding-top: 40px;
    font-size: 28px;
}

.tin_tuc .blog_tin_tuc {
    font-size: 30px;
    border-left: 4px;
    margin: 24px;
    padding: 5px;
    margin-left: 77px;
}

.tin_tuc .noi_dung-item {
    padding: 16px 0;
    margin: 0 15px;
}

.tin_tuc .content-item-img {
    border-radius: 5px;
    width: 380px;
    height: 180px;
}

.tin_tuc .content-item-body {
    font-size: 16px;
    left: 0;
    top: 0;
}


/* Footer */
.footer {
    color: #fff;
    background: #000000D9;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer .top-footer {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    margin: 0px 77px;
    padding: 5px;
}

.footer .noi_dung {
    margin-top: 50px;
    margin-left: 88px;
    width: 25%;
    list-style: none;
}

.footer .top-footer h4 {
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer .top-footer a {
    font-size: 13px;
    color: #fff;
}

.footer .top-footer ul li {
    padding: 10px;
    list-style: none;
}

.footer .mid-footer {
    background: color;
    margin: 25px 89px;
}

.footer .bottom-footer {
    margin-top: 15px;
    margin-left: 90px;
    padding: 5px 0px 45px 0px;
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
}

.footer .bottom-footer p {
    margin-left: 77px;
}